.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: lightgray;
}
.header .heading {
  text-align: left;
  margin-right: 70vw;
  margin-bottom: 12px;
}

.header .logo-container {
  height: 100%;
  width: 70px;
  padding: 25px;
}

.header .options {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .options .option {
  padding: 10px 15px;
  cursor: pointer;
}
