.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  background-position: center;
  background-size: cover;
}
.menu-item.larger {
  height: 380px;
}

.menu-item:first-child {
  margin-right: 7.5px;
}
.menu-item:last-child {
  margin-right: 7.5px;
}

.menu-item .content {
  background-color: white;
  opacity: 0.7;
  color: black;
  height: 90px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  cursor: pointer;
  transform: translateZ();
  transition: ease-out;
}
.menu-item .content:hover {
  transform: scale(1.05);
}
.menu-item .content .title {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 22px;
  color: #4a4a4a;
}
.menu-item .content .subtitle {
  font-weight: lighter;
  font-size: 16px;
}
